
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  --primary-color: #01bf71;
}

.logoNav{
  height: 50px;
}
.logoHome{
  object-fit: contain;
  width: 100%;
}